<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/hokuyo_imu.urdf" />

  <arg name="debugger" default="" />
  <!-- <param name="publish_frequency" type="double" value="200"/> -->
  <!-- <param name="use_tf_static" type="bool" value="false"/> -->
  <param name="enable_statistics" type="bool" value="false"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher">
  </node>

  <node pkg="urg_node" type="urg_node" name="hokuyo_UTM_30LX_h" output="screen">
    <param name="ip_address" value="192.168.20.10"/>
    <param name="frame_id" value="horizontal_laser_link"/>
    <param name="calibrate_time" type="bool" value="false"/>  
    <param name="intensity" type="bool" value="false"/>
    <param name="cluster" value="1"/>
    <param name="publish_intensity" value = "false"/>
    <param name="publish_multiecho" value = "false"/>
    <remap from="scan" to="horizontal_laser_scan" /> 
  </node> 
  <!--
    Convert laser scan to 3D point cloud into fixed frame not rotating along with sensor.
    Also performs scan shadow point filtering
  -->
  <node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="hokuyo_UTM_30LX_h_scan_to_ptcld" respawn="true">
    <param name="min_range" value="0.05" />
    <param name="max_range" value="29.95" />
    <param name="use_high_fidelity_projection" value="false" />
    <param name="scan_topic" value="horizontal_laser_scan" />
    <param name="cloud_topic" value="points2_1" />
    <param name="target_frame" value="horizontal_laser_cloud_link" />
    <rosparam command="load" file="$(find laserscan_to_pointcloud)/config/default_scan_shadow_filter.yaml" />
  </node>


  <node pkg="urg_node" type="urg_node" name="hokuyo_UTM_30LX_v" output="screen">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="frame_id" value="vertical_laser_link"/>
    <param name="calibrate_time" type="bool" value="false"/>  
    <param name="intensity" type="bool" value="false"/>
    <param name="cluster" value="1"/>
    <param name="publish_intensity" value = "false"/>
    <param name="publish_multiecho" value = "false"/>
    <remap from="scan" to="vertical_laser_scan" /> 
  </node> 
  <!--
    Convert laser scan to 3D point cloud into fixed frame not rotating along with sensor.
    Also performs scan shadow point filtering
  -->
  <node pkg="laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="hokuyo_UTM_30LX_v_scan_to_ptcld" respawn="true">
    <param name="min_range" value="0.05" />
    <param name="max_range" value="29.95" />
    <param name="use_high_fidelity_projection" value="false" />
    <param name="scan_topic" value="vertical_laser_scan" />
    <param name="cloud_topic" value="points2_2" />
    <param name="target_frame" value="vertical_laser_cloud_link" />
    <rosparam command="load" file="$(find laserscan_to_pointcloud)/config/default_scan_shadow_filter.yaml" />
  </node>


  <node name="xsens_driver" pkg="xsens_driver" 
      type="mtnode.py"  
      output="screen" >
      <param name="device" value="/dev/ttyS0"/>
      <param name="baudrate" value="115200"/>
      <param name="frame_id" value="imu_link"/>
      <param name="frame_local" value="ENU"/>
      <remap from="imu" to="imu" />
  </node>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_ros)/configuration_files
          -configuration_basename hokuyo_3d_imu.lua"
      output="screen"
      launch-prefix="$(arg debugger)" >
      <!-- <remap from="points2_1" to="horizontal_laser_3d" /> -->
      <!-- <remap from="points2_2" to="vertical_laser_3d" /> -->
  </node>


  <node name="robot_bag" pkg="rosbag" type="record" 
      args="-o robot_bag /imu /points2_1 /points2_2">
  </node>

   
  <node name="rviz" pkg="rviz" type="rviz" required="false"
      args="-d $(find cartographer_ros)/configuration_files/hokuyo_3d_imu.rviz">
  </node>
  
  <!-- DEBUG -->		
  <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> -->
  <!-- <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/> -->
  <!-- <node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree"/> -->
  <!-- rosservice call /finish_trajectory "stem: 'zongheng'" -->
</launch>