<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/hokuyo_imu.urdf" />

  <arg name="debugger" default="" />
  <!-- <param name="publish_frequency" type="double" value="200"/> -->
  <!-- <param name="use_tf_static" type="bool" value="false"/> -->
  <param name="enable_statistics" type="bool" value="false"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher">
  </node>

  <node pkg="urg_node" type="urg_node" name="hokuyo_UTM_30LX_h" output="screen">
    <param name="ip_address" value="192.168.20.10"/>
    <param name="frame_id" value="horizontal_laser_link"/>
    <param name="calibrate_time" type="bool" value="false"/>  
    <param name="intensity" type="bool" value="false"/>
    <param name="cluster" value="1"/>
    <param name="publish_intensity" value = "false"/>
    <param name="publish_multiecho" value = "false"/>
    <!-- <remap from="scan" to="horizontal_laser_scan" /> --> 
    <remap from="scan" to="scan" /> 
  </node> 

<!--
  <node pkg="urg_node" type="urg_node" name="hokuyo_UTM_30LX_v" output="screen">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="frame_id" value="vertical_laser_link"/>
    <param name="calibrate_time" type="bool" value="false"/>  
    <param name="intensity" type="bool" value="false"/>
    <param name="cluster" value="1"/>
    <param name="publish_intensity" value = "false"/>
    <param name="publish_multiecho" value = "false"/>
    <remap from="scan" to="vertical_laser_scan" /> 
  </node> 

 -->
<!--
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_URG_04LX" output="screen">
    <param name="calibrate_time" type="bool" value="false"/> 
    <param name="port" type="string" value="/dev/ttyACM0"/> 
    <param name="intensity" type="bool" value="false"/> 
    <param name="frameid" value="vertical_laser_link"/>
    <param name="port" type="string" value="/dev/ttyACM0"/> 
  </node>
-->
  <node name="xsens_driver" pkg="xsens_driver" 
      type="mtnode.py"  
      output="screen" >
      <param name="device" value="/dev/ttyS0"/>
      <param name="baudrate" value="115200"/>
      <param name="frame_id" value="imu_link"/>
      <param name="frame_local" value="ENU"/>
      <remap from="imu" to="imu" />
  </node>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find cartographer_ros)/configuration_files
          -configuration_basename hokuyo_2d_imu.lua"
      output="screen"
      launch-prefix="$(arg debugger)" >
      <!-- <remap from="scan" to="horizontal_laser_scan" /> -->
      <!-- <remap from="imu" to="imu" /> -->
  </node>

  <node name="robot_bag" pkg="rosbag" type="record" 
      args="-o robot_bag /imu /scan">
  </node>

   
  <node name="rviz" pkg="rviz" type="rviz" required="false"
      args="-d $(find cartographer_ros)/configuration_files/hokuyo_2d_imu.rviz">
  </node>
  
  <!-- DEBUG -->		
  <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> -->
  <!-- <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/> -->
  <!-- <node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree"/> -->
  <!-- rosservice call /finish_trajectory "stem: 'zongheng'" -->
</launch>